@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* //homepage */
/* headersection */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #E3E6f3;
    position: sticky;
    z-index: 1;
    top: 0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);

}

.navbar {
    margin: 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}

.navbar li {
    padding: 0 20px;
    list-style: none;
    position: relative;
}

.navbar a {

    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;

}

.navbar a:hover,
.navbar a.active {
    color: #088178;
}

.navbar a:hover::after,
.navbar a.active::after {
    content: "";
    width: 30%;
    height: 3px;
    background: #088178;
    bottom: -4px;
    left: 20px;
    position: absolute;
}

.mobile,
#closebtn {
    display: none;
}
.mobile li{
    padding-right:20px;
}
.mobile i {
    font-size: 20px;
}

/* slidebanner */
.slidebar {
    position: relative;
}

.slideContainer {
    display: none;
}

.slide {
    display: flex;
    flex-wrap: wrap;

}

.slidecontent {
    position: absolute;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    height: 600px;
}

.slideImg {
    width: 100%;
}

.slideImg img {
    width: 100%;
    height: 70vh;
}

.slideContainer.active {
    display: block;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    font-size: 35px;
    transform: translateY(-50%);
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.slidebar:hover #prev {
    display: block;
}

.slidebar:hover #next {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

/* featuresection */
.feature {
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.fe-box {
    min-width: 100px;
    padding: 5px;
    margin: 10px;
    width: 180px;
    text-align: center;
    border: 1px solid rgb(211, 222, 222);
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
}

.fe-box img {
    min-width: 100px;
    width: 180px;
}

.fe-box:hover {
    border-radius: 5px;
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.fe-box h6 {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;

}

.fe-box:nth-child(1) h6 {
    background: #E3E6f3;
}

.fe-box:nth-child(2) h6 {
    background: #d394e7;
}

.fe-box:nth-child(3) h6 {
    background: #91ecab;
}

.fe-box:nth-child(4) h6 {
    background: #e8ed89;
}

.fe-box:nth-child(5) h6 {
    background: #f1a283;
}

.fe-box:nth-child(6) h6 {
    background: #6be1e5;
}

/* .featureproduct */

.feature-products h1 {
    text-align: center;
    margin: 20px;
    font-size: 30px;

}

.feature-products p {
    text-align: center;
    margin: 10px;
    color: grey;


}

.feature-row {
    width: 80%;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    z-index: 0;
    margin: 0 auto;

}

.product-card {

    position: relative;
    cursor: pointer;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 20px;
    margin: 15px 10px;
    transition: 1 ease;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.product-card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.desc {
    padding: 10px;
}

.desc span {
    color: gray;
    font-size: 12px;
    margin: 0 0 5px 0;
}

.desc h5 {
    font-size: 16px;
    color: #1a1a1a;
    margin: 0 0 3px 0;
}

.desc i {
    font-size: 20px;
    color: #f8c600;
    margin: 0 0 10px 0;
}

.desc h4 {
    font-size: 20px;
    color: #088178;
    margin: 0 0 3px 0;
}

.product-card .fa-cart-shopping {
    font-size: 25px;
    background: #088178;
    color: #fff;
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 10px;
}


/* bannerSection */
.banner-offer {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1656522854/t-shirt/banner/b2_opkpta.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    color: #fff;


}

.banner-offer h4 {
    font-size: 20px;
}

.banner-offer h2 {
    font-size: 30px;
}

.banner-offer span {
    color: red;
}

.banner-offer a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: red;
    display: block;
    transition: 0.5 ease;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.01)
}

.banner-offer a:hover {
    color: red;
    background: #fff;
    box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.09);
}

/* banner-boxsection   */
.banner1-box {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner1-box .box {
    width: 49%;
    height: 40vh;
    background-size: cover;

    display: flex;

    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    color: #fff;
}

.banner1-1 {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1656522853/t-shirt/banner/b17_rkykzq.jpg");

}

.banner1-2 {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1656522852/t-shirt/banner/b10_zinfpr.jpg");

}

.banner1-box .box h6 {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.banner1-box .box h1 {
    font-size: 26px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.banner1-box .box p {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.banner1-box .box a {

    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    margin: 10px 0 0 30px;

}

.banner1-box .box:hover a {
    background: #088178;
}

/* banner-section2 */
.banner2-box {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

}

.banner2-box .box {
    width: 30%;
    height: 30vh;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    display: flex;

    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    color: #fff;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.08);
}


.banner2-box .box p {
    color: red;
    font-size: 20px;
    font-weight: 500;
}

.banner2-1 {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1656522853/t-shirt/banner/b18_cvspko.jpg");
}

.banner2-2 {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1656522857/t-shirt/banner/b4_kqihzf.jpg");
}

.banner2-3 {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1656522855/t-shirt/banner/b7_sx0su0.jpg");
}

.banner2-box .box:hover {
    opacity: 0.9;
    box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.8);
}


/* newsletter form */
.newsletter {
    background: rgb(24, 3, 107);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    height: 20vh;


}

.newstext {
    width: 40%;
    margin: 10px;
}

.newstext h1 {
    margin: 10px;
}

.newstext p {
    margin: 10px 15px;
}

.newstext span {
    color: gold;
}

.form {
    width: 40%;
    display: flex;
    margin-right: 40px;
}

.form input {
    padding: 10px;
    width: 80%;
    outline: none;

}

.form button {
    margin-right: 5px;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    background: #088178;
    border: #088178;
    color: #fff;
}

/* footer */
.footer-content {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-content h4 {
    margin: 10px;
    font-size: 20px;

}

.footer-content p {
    margin: 10px;
    padding: 3px;
    font-size: 16px;
    color: rgb(113, 116, 113);
}

.company-contact label {
    font-weight: 500;
    padding: 10px;
    line-height: 30px;
}

.company-contact img {
    border: #088178;
}

.company-contact span {
    margin: 10px;
    padding: 3px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(113, 116, 113);

}

.company-contact h3 {
    margin: 10px;
}


.followus {
    margin: 10px;

}

.followus i {
    padding: 4px;
}

.footer h6 {
    text-align: center;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

.installApp img {
    width: 40%;

}

.about-myacc {
    display: flex;
    justify-content: space-between;
}

/* shop page */

.shop-section {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1657469530/t-shirt/banner/women-banner_ofo9kd.jpg");
    width: 100%;
    height: 45vh;
    padding: 0 20px;
    background-size: cover;
}

/* shop product page */
.bodyshop {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}

.filterProduct {
    margin: 20px;
    background: #fd7776;
    width: 20%;
height: 900px;
border-radius:15px ;
}

.filterProduct input {
    width: 80%;
    margin: 20px 10px 10px 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.filter {
    padding: 10px;
    margin: 10px;
    color: white;
}

.brand-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.ShopProduct {
    width: 70%;
}

.sproduct {
    width: 45%;
}

.sproduct-scontent {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.featureRow {

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    z-index: 0;
    margin: 0 auto;

}

.main-product img {
    width: 100%;
    padding: 10px;
}

.small-product {
    display: flex;
    padding: 5px;
    justify-content: space-around;

}

.small-product img {
    width: 140px;

}

.scontent {
    width: 45%;
}

.scontent h6 {
    margin: 20px 0;
    padding: 10px 0;
}

.scontent h1 {

    padding: 10px 0;
}

.scontent h2 {
    padding: 10px;
    font-size: 30px;
}

.scontent select {
    outline: none;
    margin: 10px 0;


}

.scontent select option {
    margin-left: 10px;


}

.scontent input {
    width: 50px;
    padding: 3px;
    outline: none;
    text-align: center;

}

.scontent a {
    text-decoration: none;
    color: #fff;

    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    background: #088178;

}

.scontent p {
    margin: 10px;
    padding: 10px;
}

/* blog page */
.blog-section {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1657472337/t-shirt/banner/OSC-Spring-Generic-2020-Website-Fashion-Banner-01_ligaug_t4scih.jpg");
    width: 100%;
    height: 45vh;
    padding: 0 20px;
    background-size: cover;

}

.blog {
    width: 95%;
    margin: 10% auto;

}

.blogBox {
    width: 100%;
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
    position: relative;

}

.blogImg {
    width: 50%;
}

.blogImg img {
    width: 100%;

    height: 40vh;
    background-position: center;

}



.blog-details {
    width: 40%;
    line-height: 25px;

}


.blog-details h3 {
    margin: 20px 0;
    padding: 10px 0;

}

.blog-details h4 {

    padding: 10px 0;
    position: relative;
}

.blog-details span {
    width: 90px;
    height: 3px;
    position: absolute;
    background: #000;
    display: block;
    left: 160px;
    bottom: 20px;
}

.blog-date {
    font-size: 70px;
    position: absolute;
    color: grey;
    top: -65px;
    left: 0;
    z-index: -1;
}

/* aboutpage */
.about-section {
    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1657471261/t-shirt/banner/unnamed_bibk8j.jpg");
    width: 100%;
    height: 50vh;
    padding: 0 20px;
    background-size: cover;
    
}

.about-head {
    width: 90%;
    margin: 40px auto;

}

.aboutBox {


    display: flex;
    justify-content: space-between;
    position: relative;

}

.aboutImg
{
    width: 55%;
}
.aboutImg img {
    width: 100%;
    height: 50vh;
    background-position: center;

}

.about-details {
    width: 40%;
    line-height: 25px;

}

.about-details h1 {
    font-size: 60px;
    padding: 10px;
    margin: 10px 0;
}

.about-details p {
    line-height: 30px;
}

.about-app {
    text-align: center;
    margin: 20px;
}

.about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

.about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

/* Contact page */
.contact-section {

    background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1657471378/t-shirt/banner/depositphotos_177806526-stock-illustration-black-friday-sale-template-horizontal_mgmecq.jpg");
    width: 100%;
    height: 40vh;
    padding: 0 20px;
    background-size: cover;
    background-position: center;

}

.contactBox {
    width: 80%;
    margin: 40px auto;


    display: flex;
    justify-content: space-between;
}

.contactdetails {
    line-height: 45px;
}

.contactdetails h1 {
    font-size: 40px;

}

.contactdetails p {
    color: gray;

}

.contactdetails p i {
    color: #000;
    padding-right: 10px;

}

.contact-message {
    width: 95%;
    margin: 40px auto;
    border: #1a1a1a 1px solid;

}

.feedbackdetails {
    width: 65%;
}

.feedbackdetails h1 {
    font-size: 30px;

}

.feedbackdetails p {
    color: gray;
}

.feedbackdetails input {
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.feedbackdetails textarea {
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.feedbackdetails a {
    text-decoration: none;
    color: #fff;
    width: 20%;
    padding: 10px;
    margin: 10px 10px 10px 20px;
    display: inline-block;
    text-align: center;
    background: #088178;

}

.contact-person {
    width: 35%;

}

.person {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: right;
}

.perdetails {
    margin: 10px;
    padding-left: 10px;
    line-height: 25px;
}

.perdetails h5 {
    font-size: 20px;

}

.perdetails p {
    color: gray;
}

.perdetails p i {
    color: #000;
    padding-right: 10px;
    font-size: 10px;

}


/* cart page */
.cart {
    width: 90%;
    margin: 30px auto;
}

.cart table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
    padding: 10px;
}

.cart table thead {
    border: 1px solid #000;
    border-left: none;
    border-right: none;

}

.cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px;
}

.cart table tbody td {

    padding: 18px;
}

.cart table img {
    width: 90px;
}

.cart table td:nth-child(1) {
    text-align: center;
    width: 100px;
}

.cart table td:nth-child(2) {
    text-align: center;
    width: 150px;
}

.cart table td:nth-child(3) {
    text-align: center;
    width: 200px;
}

.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6) {
    text-align: center;
    width: 100px;
}

.cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 0px 5px 10px;
}

.cart-add {
    display: flex;
    width: 90%;
    margin: 30px auto;
    justify-content: space-around;

}

.cartcoupon {
    width: 50%;
    margin: 10px;

}

.coupon {
    margin: 10px;
    display: flex;
    align-items: center;
}

.cartcoupon input {
    width: 50%;
    padding: 10px;
    outline: none;
}

.cartcoupon button {
    width: 15%;

    padding: 12px;
    white-space: nowrap;
    background: #088178;
    border: #088178;
    color: #fff;

}

.cartTotal {
    width: 50%;
    border: #000 1px solid;
    padding: 10px;
}

.cartTotal table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;


}

.cartTotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

.cartTotal button {

    margin-left: 20px;
    padding: 12px;
    white-space: nowrap;
    background: #088178;
    border: #088178;
    color: #fff;
}

